.vscode
Submission/*.pdf
Senior_Personnel_Documents/
*.log
*.aux
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.bit 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind
*.url 
*.svn 
*.toc
